.faqContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // height: 60vh;
    div.accordion{
        div.accordion-item{
            h2.accordion-header{
                button.accordion-button{
                    padding: .75rem 1.25rem;
                }
                button.accordion-button:focus{
                    box-shadow: 0 0 0 0.25rem rgba(#C693A2, 0.25)
                }
                button.accordion-button:not(.collapsed){
                    background-color: #C693A2;
                    opacity: 0.75;
                    color: white;
                }
                button.accordion-button::after{
                    color: white;
                }
            }
        }
    }
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .faqContainer{
        div.accordion{
            div.accordion-item{
                h2.accordion-header{
                    button.accordion-button{
                        padding: 1rem 1.25rem;
                    }
                }
            }    
        }
    }
}