.cartContainer{
    background-color: white;
    border-radius: .5rem;
    padding: 2rem;
    div{
        li{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #ededed;
            padding: 1rem;
            font-weight: 600;
            img{
                width: 3rem;
                border-radius: 3px;
            }
            span.changeStock{
                background-color: #C693A2;
                color: white;
                padding: 0 10px;
                border-radius: 10px;
                .btn{
                    color: white;
                    font-weight: 600;
                }
            }
        }
        .cartTotal{
            border-top: 1px solid #ededed;
            padding-top: 2rem;
        }
    }
}