div{
    a{
        .btn-outline-alilo{
            border-color: #C693A2;
            color: #C693A2;
        }
        
        .btn-outline-alilo:hover{
            background-color: #C693A2;
            color: white;
        }
    }
}