footer {
    background-color: #c693a2;
    width: 100vw;
    margin-top: auto;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 1rem 0;

    div {
        a{
            color: white;
            text-decoration: none;
        }
        h6 {
            margin: 0;
            font-weight: 900;
            margin-bottom: .5rem;
        }
        span{
            display: flex;
            align-items: center;
            p{
                margin: 0 0 0 10px;
            }
        }
    }
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .footer{
        padding: 1.5rem 0;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .footer{
        padding: 2.5rem 0;
    }
}