
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .itemList{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .itemList{
        gap: 3rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .itemList{
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .itemList{
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 

}